<div class="ui themeableComponent noradius segment desktopMenu">
    <div class="ui themeableComponent secondary pointing menu">
        <a routerLink="/home" class="item">Home</a>
        <a routerLink="/events" class="item active">Events</a>
        <a routerLink="/work" class="item">Work</a>
        <a routerLink="/about" class="item">About</a>
        <a class="item">Vision</a>
        <a class="item">Make a change</a>
        <a class="item">Team</a>
        <a class="item">Gallery</a>
        <a class="item">Connect</a>
        <a class="item">@Facebook</a>
        <div class="right menu">
            <a class="item" (click)="toggleDarkTheme()">
                <i class="moon outline icon"></i>
            </a>
        </div>
    </div>
</div>

<div class="sidebarToggle" (click)="toggleSidebar()">
    <a class="item" style="font-size: 1.3em; padding: 10px 0px 0px 5px; display: inline-block; color: white;">
        <i class="sidebar icon"></i>
    </a>
</div>

<div class="mobileMenu themedComponent">
    <a class="item themedComponent" (click)="toggleSidebar()" style="font-size: 1.3em; padding: 10px 0px 0px 5px; display: inline-block; color: black;">
        <i class="sidebar icon"></i>
    </a>
    <div class="ui themeableComponent secondary vertical menu">
        <a routerLink="/home" class="item">Home</a>
        <a routerLink="/events" class="item active">Events</a>
        <a routerLink="/work" class="item">Work</a>
        <a routerLink="/about" class="item">About</a>
        <a class="item">Vision</a>
        <a class="item">Make a change</a>
        <a class="item">Team</a>
        <a class="item">Gallery</a>
        <a class="item">Connect</a>
        <a class="item">@Facebook</a>
        <a class="item" (click)="toggleDarkTheme()">
            <i class="moon outline icon"></i>
        </a>
    </div>
</div>

<div class="hero" style="margin-top: 0px;">
    <div class="overlay">
        <div class="text">
            <h1>Cultural Events</h1>
            <p>Maharshi Parshuram Educational and Cultural Welfare Society organises a lot of cultural events for the people to enjoy and raise money for the under privileged children. Take a look at these events here…</p>
        </div>
    </div>
</div>


<div class="ui fluid themedComponent padded">
    <p>&copy; Copyright, 2020. Maharshi Parshuram Educational and Cultural Welfare Society, Madhya Pradesh, IN.</p>
</div>