/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
}

.fluid {
    width: 100%;
}

.dark {
    background-color: #1B1C1D !important;
    color: white !important;

    h1, h2, h3, h4, h5, h6 {
        color: white;
    }
}

.hero {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;

    .overlay {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);

        .text {
            position: absolute;
            top: 30%;
            width: 33%;
            left: 5%;
            transform: translateY(-50%);
            color: white;
        }
    }
}


@media (max-width: 864px) {
    .hero {
        background-position: 65% top;
        .overlay {
            .text {
                width: 90%;
                left: 50%;
                height: 220px;
                top: calc(100% - 240px);
                transform: translateX(-50%);
                color: white;
            }
        }
    }
}


.padded {
    padding: 5em 5% 5em 5%;
}

.noradius {
    border-radius: 0px !important;
    margin-bottom: 0px !important;
}

.mobileMenu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100vh;
    background-color: #fff;
    display: none;
    padding-right: 10px;
}

.sidebarToggle {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 95;
    display: none;
}

.noscroll {
    overflow: hidden;
}

@media (max-width: 864px) {
    .sidebarToggle {
        display: block;
    }

    .desktopMenu {
        display: none;
    }
}

.ui.menu {
    border-bottom: 0 none !important;
    box-shadow: none;
}

.covid19Section {
    background-color: red;
    color: white;
    padding: 15px;

    a {
        cursor: pointer;
        color: white;
        text-decoration: underline;
    }
}