@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.video-container {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
    height: 100%;

    div {
        height: 50vh;
        object-fit: cover;

        video {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
}

.homepage_text {
    width: 90%;
    text-align: center;
    font-family: "Abril Fatface", cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: white;

    h1 {
        font-size: 3em;
        font-family: "Abril Fatface", cursive;
    }

    button {
        background-color: #fff;
        color: black;
        font-size: 1.1em;
        padding: 0.8em 3em;
        border: none;
        outline: none;
        font-family: "Abril Fatface", cursive;
    }
}

@media only screen and (max-width: 767px) {
    .homepage_text {
        h1 {
            font-size: 1.5em;
        }
    }
}
