<div class="video-container">
    <div class="video1">
        <video autoplay muted loop id="video1">
            <source src="../../assets/videos/001.mov" type="video/mp4">
        </video>
    </div>
    <div class="video2">
        <video autoplay muted loop id="video2">
            <source src="../../assets/videos/002.mov" type="video/mp4">
        </video>
    </div>
    <div class="video3">
        <video autoplay muted loop id="video3">
            <source src="../../assets/videos/003.mov" type="video/mp4">
        </video>
    </div>
    <div class="video4">
        <video autoplay muted loop id="video4">
            <source src="../../assets/videos/004.mov" type="video/mp4">
        </video>
    </div>
    <div class="video5">
        <video autoplay muted loop id="video5">
            <source src="../../assets/videos/005.mov" type="video/mp4">
        </video>
    </div>
    <div class="video6">
        <video autoplay muted loop id="video6">
            <source src="../../assets/videos/006.mov" type="video/mp4">
        </video>
    </div>
</div>

<div class="overlay"></div>

<div class="homepage_text">
    <object type="image/svg+xml" data="../../assets/svg/MPECWS.svg" width="120px"></object>
    <h1 id="chText">One in seven children does not have enough resources to live a healthy lifestyle.</h1>
    <button routerLink="home">
        Make A Difference!
    </button>
</div>